<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>LibTrack - Book Form</title>

<th:block th:replace="fragments/styles :: common"></th:block>

</head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">

			<th:block th:replace="fragments/sidemenu :: menu"></th:block>
			<th:block th:replace="fragments/topmenu :: menu"></th:block>

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2 th:text="${book.id == null ? 'New Book' : 'Edit Book'}"></h2>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<div class="alert alert-success alert-dismissible fade in" role="alert" th:if="${successMsg}">
	                    			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			                    	<span th:text="*{successMsg}"></span>
			                  	</div>
								<br />
								<form id="bookForm" data-parsley-validate class="form-horizontal form-label-left" 
									th:action="@{/book/save}" th:object="${book}" method="post">
									
									<input type="hidden" th:field="*{id}" />
									<input type="hidden" th:field="*{createdDate}" />
									<input type="hidden" th:field="*{status}" />
									
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="tag">Tag <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" id="tag" th:field="*{tag}" required="required" class="form-control col-md-7 col-xs-12">
											<ul class="parsley-errors-list filled">
												<li class="parsley-required" th:each="err : ${#fields.errors('tag')}" th:text="${err}"></li>
											</ul>
										</div>
									</div>
									
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Title <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" id="title" th:field="*{title}" required="required" class="form-control col-md-7 col-xs-12">
											<ul class="parsley-errors-list filled">
												<li class="parsley-required" th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
											</ul>
										</div>
									</div>
									
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="authors">Authors <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" id="authors" th:field="*{authors}" required="required" class="form-control col-md-7 col-xs-12">
											<ul class="parsley-errors-list filled">
												<li class="parsley-required" th:each="err : ${#fields.errors('authors')}" th:text="${err}"></li>
											</ul>
										</div>
									</div>
									
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="publisher">Publisher <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" id="publisher" th:field="*{publisher}" required="required" class="form-control col-md-7 col-xs-12">
											<ul class="parsley-errors-list filled">
												<li class="parsley-required" th:each="err : ${#fields.errors('publisher')}" th:text="${err}"></li>
											</ul>
										</div>
									</div>
									
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="isbn">ISBN <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" id="isbn" th:field="*{isbn}" required="required" class="form-control col-md-7 col-xs-12">
											<ul class="parsley-errors-list filled">
												<li class="parsley-required" th:each="err : ${#fields.errors('isbn')}" th:text="${err}"></li>
											</ul>
										</div>
									</div>
									
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12" for="category">Category <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<select class="form-control" id="category" th:field="*{category}" required="required">
												<option value="">-- Select Category --</option>
												<option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
											</select>
											<ul class="parsley-errors-list filled">
												<li class="parsley-required" th:each="err : ${#fields.errors('category')}" th:text="${err}"></li>
											</ul>
										</div>
									</div>
									
									<div class="ln_solid"></div>
									<div class="form-group">
										<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
											<button class="btn btn-primary" type="button" onclick="window.history.back();">Cancel</button>
											<button type="submit" class="btn btn-success">Submit</button>
										</div>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /page content -->

			<th:block th:replace="fragments/footer :: footer"></th:block>

		</div>
	</div>

	<th:block th:replace="fragments/scripts :: common"></th:block>
	<script th:src="@{/custom/js/book/form.js}"></script>
</body>
</html>
